.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    color: white;
    padding: 40px 20px;
    gap: 20px;
  
    .footer-section {
      flex: 1 1 30%;
      display: flex;
      flex-direction: column;
      gap: 15px;
  
      img {
        height: 25px;
        margin: 5px;
      }
    }
  
    .payment-icons {
      flex-wrap: wrap;
      flex-direction: row;
      img {
        max-height: 30px;
        margin: 5px;
      }
    }
  
    .center-info {
      text-align: left;
      font-size: 14px;
  
      .contact-info {
        margin-bottom: 20px;
  
        i {
          margin-right: 8px;
          color: #C79A29;
        }
      }
  
      .footer-nav a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
  
        &:hover {
          color: #C79A29;
        }
      }
  
      .section-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #C79A29;
      }
    }
  
    .social-icons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
  
      .section-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #C79A29;
      }
  
      a {
        color: white;
        font-size: 20px;
  
        &:hover {
          color: #C79A29;
        }
      }
    }
  }
  