<br><br><br>
<footer class="footer-container">
  <div class="footer-section payment-icons">
    <img src="assets/animations/captura-pantalla-2025-05-29-110925.png" alt="Método de pago" />
  </div>

  <br>
  <div class="contact-info">
    <i class="fas fa-envelope"></i> fullmotion&#64;gmail.com<br /><br>
    <i class="fas fa-phone"></i> +57626-71XXXX<br /><br>
    <i class="fas fa-map-marker-alt"></i> Medellin<br /><br>
  </div>

  <br>
  <h4 class="section-title">Páginas</h4>
  <div class="footer-nav">
    <a href="/">Inicio</a>
    <p></p>
    <a href="/servicio">Servicio</a>
    <p></p>
    <a href="/nosotros">Nosotros</a>
    <p></p>
    <a href="/contacto">Contáctenos</a>
  </div>
</footer>
