<br><br><br>
<footer class="footer-container">
    <div class="footer-section payment-icons">
      <img src="assets/animations/daviplata.png" alt="DaviPlata" />
      <img src="assets/animations/bancolombia.png" alt="Bancolombia" />
      <img src="assets/animations/nequi.png" alt="Nequi" />
      <img src="assets/animations/davivienda.png" alt="Davivienda" />
      <img src="assets/animations/americanexpress.png" alt="AmericanExpress" />
      <img src="assets/animations/diners.png" alt="Diners Club" />
      <img src="assets/animations/Visa.png" alt="VISA" />
      <img src="assets/animations/pse.png" alt="PSE" />
      <img src="assets/animations/discover.png" alt="DISCOVER" />
      <img src="assets/animations/beld.png" alt="beld" />
      <img src="assets/animations/mastercard.png" alt="Mastercard" />
      <img src="assets/animations/gplay.png" alt="G Play" />
      <img src="assets/animations/wompy.png" alt="Wompy" />
      <img src="assets/animations/pay.png" alt="Pay" />
    </div>
  
    <br>
    <div class="contact-info">
        <i class="fas fa-envelope"></i>  fullmotion&#64;gmail.com<br /><br>
        <i class="fas fa-phone"></i>  +57626-71XXXX<br /><br>
        <i class="fas fa-map-marker-alt"></i>  Medellin<br /> <br>
    </div>
    
      
    <br>
    <h4 class="section-title">Páginas</h4>
    <div class="footer-nav">
        <a href="/">Inicio</a>
        <a href="/servicio">Servicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contáctenos</a>
      </div>
   
  </footer>
  
  