$gold: #d4af37;

.hero {
    text-align: center;
    margin-top: 0rem;
    padding: 2rem;
  
    h1 {
      font-size: 2.5rem;
      color: $gold;
    }
  
    p {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #ccc;
    }
  }
  