<br><br><br>
<div class="testimonial-container">
    <div class="image-side">
      <img src="assets/animations/Testi.jpg" alt="Testimonial" class="main-image" />
    </div>
  
    <div class="content-side">
      <h4 class="label">Testimonial</h4>
      <h2 class="title">Experiencias compartidas de nuestros usuarios</h2>
      <p class="testimonial-text">
        Como compradora de un vehículo de alta gama con FullMotions, puedo decir con total seguridad que ha sido una de las mejores decisiones que he tomado.
        Desde el primer contacto, el equipo me brindó una atención personalizada, resolviendo todas mis dudas y guiándome en cada paso del proceso.
        La calidad del servicio, la transparencia y la confianza que me transmitieron hicieron que toda la experiencia fuera excepcional.
        Hoy disfruto de mi nuevo automóvil con total satisfacción, sabiendo que elegí la mejor opción.
      </p>
  
      <div class="user-card">
        <img src="assets/animations/Foto.jpg" alt="Artemisia Udinese" class="user-photo" />
        <div class="user-info">
          <div class="name">Artemisia Udinese</div>
          <div class="position">Marketing Specialist</div>
        </div>
      </div>
    </div>
  </div>
  